.intro-wrapper {
    display: flex;
}

.intro-wrapper .static-txt{ /** estilo */ 
    color: rgb(0, 0, 0);
    font-size: 40px;
    font-weight: 500;
}

.intro-wrapper .dynamic-txts { /** estilo / necesario */
    margin-left: 15px;
    height: 60px;
    line-height: 60px;
    overflow: hidden;
}

.dynamic-txts li { /** estilo / necesario */
    list-style: none;
    /* color: #20b2aa; */
    font-size: 40px;
    font-weight: 500;
    position: relative;
    top: 0;
    animation: slide 12s steps(4) infinite;
}

@keyframes slide { /** necesario */
    100% {
    top: -240px;
    }
}

.dynamic-txts li span { /** posicion */
    position: relative;
    margin: 5px 0;
    line-height: 60px;
}

.dynamic-txts li span::after { /*** necesario */
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    /* background: #f1f1f1; */
    /* background: black; */
    background: white;
    /* border-left: 2px solid #20b2aa; */
    animation: typing 3s steps(10) infinite;
}

@keyframes typing { /*** necesario */
    40%, 60% {
    left: calc(100% + 2px);
    }
    100% {
    left: 0;
    }
}

/* @media */
@media (max-width: 600px) {
    @keyframes slide { /** necesario */
        100% {
        top: -240px;
        }
    }
}