.slider-container {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.slide-content {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.slider {
    width: 100%;
    max-width: 600px;
    overflow: hidden;
    position: relative;
}

.slides {
    /* border: 1px solid red; */
    position: relative;

    height: 270px;
    display: flex;
    transition: transform 0.5s ease;
}

.slide {
    /* border: 1px solid green; */
    position: absolute;
    min-width: 100%;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.slide-item-description {
    position: absolute;
    width: 100%;
    top: 50%;
    /* top: 60%; */
    /* bottom: 25%; */
    text-align: center;
    font-size: 1.1em;

    /* opacity: 0; */
    /* transition: 0.5s ease-in-out; */

    font-size: 20px;
    color: #636363;
    font-weight: 400;
    line-height: 1.1;
    /* z-index: 1; */
}

.slide .active {
    opacity: 1;
}

.slide-active {
    opacity: 1 !important;
}

.slide-inactive {
    opacity: 0 !important;
}

.slider img {
    width: 100%;
    height: auto;
    display: block;
}

@media (min-width: 601px) {
    .slider {
        display: none;
    }
}