/* reset ------------------------------------------------------------------ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    user-select: none;
}

li {
    list-style: none;
}

a {
    text-decoration: none !important;
    color: black;
}

/* global variables ------------------------------------------------------- */

/* Example */
/* .uno {
    color: white;
    background-color: brown;
    margin: 10px;
    width: 50px;
    height: 50px;
    display: inline-block;
  } */

:root {
    --main-color-light-theme: #f5f5f5;
    --second-color-light-theme: #fff;
    --third-color-light-theme: #393939;
    --fourth-color-light-theme: #414141;
    --five-color-light-theme: #777777;
    --six-color-light-theme: #111111;
    --seven-color-light-theme: #5E5E5E;

    --main-color-dark-theme: #f5f5f5;
    --second-color-dark-theme: #fff;
    --third-color-dark-theme: #393939;
    --fourth-color-dark-theme: #414141;
    --five-color-dark-theme: #777777;

    --main-color-aqua-theme: #f1f1f1;
    --second-color-aqua-theme: #111111;
    --third-color-aqua-theme: #fff;
    --fourth-color-aqua-theme: #20b2aa;
    --five-color-aqua-theme: #20b2aa;
}

/* pesonal classes -------------------------------------------------------- */
.z-index1 {
    z-index: 1;
}

.z-index2 {
    z-index: 2;
}

.z-index3 {
    z-index: 3;
}

.z-index4 {
    z-index: 4;
}

.z-index5 {
    z-index: 5;
}

/* color acua */
.acua {
    color: #20b2aa
}

/* nepal */
.dynamic-txts li {
    /* color: var(--five-color-light-theme); */
    color: var(--five-color-light-theme);
    /* color: var(--five-color-aqua-theme); */
}

.dynamic-txts li span::after {
    border-left: 2px solid var(--five-color-light-theme);
    /* border-left: 2px solid var(--fourth-color-light-theme); */
}

/* display none */
.display-none {
    display: none;
}

/* hidden */
.hidden {
    display: none;
}

/* button 1 */
.button,
.c-i4-s5 {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.button a,
.c-i4-s5 {
    color: var(--second-color-light-theme);
    /* background: var(--five-color-light-theme); */
    /* border: 2px solid var(--five-color-light-theme); */
    /* background: var(--second-color-light-theme)111; */
    background: var(--third-color-light-theme);
    /* border: 2px solid var(--second-color-light-theme)111; */
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 40px;
    height: 40;
    padding: 0px 30px;
    transition: all 0.3s ease;
}

@media (max-width: 600px) {
    .main-content {

    }
    .item-presentation-container .button a {
        margin-top: -50px;
    }
    .about-item .button,
    .projects-item .button {
        display: flex;
        justify-content: center;

    }
    .button a {
        font-size: 12px;
    }
    .c-i4-s5 {
        font-size: 12px;
        height: 40px;
    }
}

.button a:hover,
.c-i4-s5:hover {
    /* color: var(--five-color-light-theme) !important; */
    cursor: pointer;
    background: var(--six-color-light-theme) !important;
}

/* button 2 */
.button2 {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.button2 a {
    color: var(--second-color-light-theme);
    background: var(--five-color-light-theme);
    border: 2px solid var(--five-color-light-theme);
    border-radius: 6px;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    transition: all 0.3s ease;
}

.button2 a:hover {
    color: var(--five-color-light-theme) !important;
    background: var(--second-color-light-theme) !important;
}

/* button 3 */
.button3 {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.button3 a {
    color: var(--second-color-light-theme);
    background: var(--five-color-light-theme);
    border: 2px solid var(--five-color-light-theme);
    border-radius: 6px;
    font-size: 15px;
    font-weight: 500;
    padding: 10px 18px;
    transition: all 0.3s ease;
}

.button3 a:hover {
    color: var(--five-color-light-theme) !important;
    background: var(--second-color-light-theme) !important;
}

/* dynamic-txt2 */
#dynamic-txt2 {
    display: inline-block;
    border-right: 2px solid var(--five-color-light-theme);
}

@media (max-width: 600px) {
    #dynamic-txt2 {
        font-size: 20px;
    }
}

/* Titles */
.about-i1,
.skills-i1,
.projects-i1,
.contact-i1 {
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--third-color-light-theme) !important;
}

/* subtitles */
.about-subtitle,
.skills-subtitle {
    font-size: 22px;
    font-weight: 700;
    color: var(--fourth-color-light-theme);
    margin-bottom: 15px;
}

@media (max-width: 600px) {
    .about-subtitle,
    .skills-subtitle {
        text-align: center;
    }
}

/* title-bot */
.about-i2,
.skills-i2,
.projects-i2,
.contact-i2 {
    /* color: var(--five-color-aqua-theme) !important; */
}

/* header ----------------------------------------------------------------- */
.section-header {
    width: 100%;
    height: 80px;
    padding-top: 50px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;

    transition: 0.3s;
    position: fixed;
    z-index: 10;
}

.brand {
    /* color: var(--five-color-light-theme); */
    color: var(--fourth-color-light-theme);
    /* color: var(--five-color-aqua-theme); */
    font-size: 44px;
    font-weight: 900;

    transition: .3s ease all;
}

header a {
    color: var(--five-color-light-theme);
}

/* down */
header.down {
    /* background:var(--five-color-light-theme); */
    background: var(--main-color-light-theme);
    height: 65px;
    box-shadow: 0 1px 4px rgba(2, 3, 3, 0.1);
    padding-top: 10px;
    padding-bottom: 10px;
}

header.down .brand {
    font-size: 34px;
}

header.down .navbar a,
header.down .navbar2 a,
header.down .navbar .brand {
    /* color: var(--second-color-light-theme); */
    color: var(--five-color-light-theme);
}

section[id] {
    scroll-margin-top: 0px;
}

/* nav container */
.nav-container {
    /* border: 1px solid yellow; */
    width: 100%;
    box-sizing: border-box;

}

/* nav content */
.nav-content {
    /* border: 1px solid purple; */
    width: 60%;
    height: 100%;
    margin: auto;
}

/* navbar 1 */
.nav-content .navbar {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    margin-left: 25px;
}

.navbar ul li a {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.40px;
    transition: color .3s ease;
}

.menu1 a {
    color: var(--five-color-light-theme);
    text-transform: uppercase;
}

/* navbar 2 */
.nav-container .navbar2 {
    width: 100%;
    display: none;
}

.navbar2 ul {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.navbar2 ul li {
    display: flex;
}

.navbar2 ul li a {
    font-size: 35px;
    /* font-weight: 500; */
    transition: color .3s ease;

    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 600px) {
    .nav-container {
        width: 100%;
    }

    .nav-container .navbar {
        display: none;
    }

    .nav-container .navbar2 {
        display: flex;
    }
}

/* main ------------------------------------------------------------------- */
.section-main {
    /* border: 1px solid black; */
    width: 100%;
    height: 95vh;

    /* background: #f1f1f1; */
    background: var(--main-color-light-theme);

    padding-top: 70px;
    /* padding-bottom: 70px; */

    /* display: grid; */
    /* justify-items: center; */
    /* justify-content: start; */
    /* align-items: center; */
    /* padding-left: 330px; */
}

.main-container {
    /* border: 1px solid red; */
    width: 100%;
    height: 100%;

    display: flex;
}

.main-content {
    /* border: 1px solid salmon; */
    width: 60%;
    margin: auto;
}

.item-presentation-container {
    /* border: 1px solid green; */
}

.txt-style1 {
    font-size: 16px;
    font-weight: 700;
    color: #919191;
    text-transform: uppercase;
    letter-spacing: 1px;

    margin-bottom: 11px;
}

.txt-style2 {
    font-size: 75px;
    font-weight: 600;
}

.txt-style3 {
    font-size: 44px;
    font-weight: 700;
    color: var(--fourth-color-light-theme);
    text-transform: uppercase;
    line-height: 28px;
    box-sizing: border-box;

    margin-bottom: 24px;
}

.main-container .intro-wrapper {
    display: flex;
    margin-bottom: 20px;
}

.main-container p {
    font-size: 18px;
    font-weight: 500;
}

.container-photo-jrbg {
    /* border: 1px solid pink; */
    /* width: 100%; */
    position: absolute;
    height: 95vh;
    right: 20%;
    top: 0;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

#item-photo-jrbg {
    /* border: 1px solid green; */
    height: 87%;
    /* margin-right: 240px; */

}

@media (max-width: 900px) {
    .section-main {}

    .main-container {
        /* border: 1px solid aqua; */
        /* width: 65%; */
        height: 45vh;
    }

    .main-content {
        width: 80%;
    }

    .container-photo-jrbg {
        right: 10%;
    }

    #item-photo-jrbg {
        height: 85%;
    }
}

@media (max-width: 750px) {
    .main-container {
        /* width: 90%; */
        /* margin-left: 20%; */
    }
}

@media (max-width: 650px) {
    .main-container {
        /* width: 90%; */
        /* margin-left: 15%; */
    }
}

@media (max-width: 600px) {
    .section-main {}

    .main-container {
        /* border: 1px solid aqua; */
        /* width: 90%; */
        height: 35vh;
    }

    .main-content {
        width: 90%;
    }

    .item-presentation-container {}

    .txt-style1 {
        font-size: 14px;
        font-weight: 700;
        color: #919191;
        text-transform: uppercase;
        letter-spacing: 1px;

        margin-bottom: 11px;
    }

    .txt-style2 {
        font-size: 60px;
        font-weight: 600;
    }

    .txt-style3 {
        font-size: 32px;
        font-weight: 700;
        color: var(--fourth-color-light-theme);
        text-transform: uppercase;
        line-height: 18px;
        box-sizing: border-box;

        margin-bottom: 24px;
    }

    .dynamic-txts li span {
        display: none;
    }

    .main-container .intro-wrapper {
        display: flex;
        margin-bottom: 20px;
    }

    .main-container p {
        font-size: 12px;
        font-weight: 500;
    }

    .container-photo-jrbg {
        right: 10%;
    }

    #item-photo-jrbg {
        height: 70%;
    }



    .main-container {
        /* width: 90%; */
        /* margin-left: 30%; */

    }

    .intro-wrapper .static-txt {
        margin-top: 10px;
    }

    .main-container .txt-style1,
    .main-container .intro-wrapper .static-txt,
    .main-container .intro-wrapper .dynamic-txts li {
        /* font-size: 27px; */
    }

    .main-container .txt-style2 {
        /* font-size: 50px; */
    }
}

@media (max-width: 500px) {
    .main-container {
        /* width: 90%; */
        /* margin-left: 20%; */
    }
}

@media (max-width: 450px) {
    .main-container {
        /* width: 90%; */
        /* margin-left: 10%; */
    }
}

@media (max-width: 380px) {
    .main-container {
        /* width: 90%; */
        /* margin-left: 5%; */
    }
}

@media (max-width: 365px) {
    .main-container {
        /* width: 90%; */
    }
}

/* about ------------------------------------------------------------------ */
.section-about {
    width: 100%;
    background: var(--second-color-light-theme);
}

.about-container {
    width: 100%;
}

.about-content {
    width: 60%;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 6px;
    justify-content: center;
    /* align-items: center; */
}

.about-container .about-i1 {
    grid-column: 1 / span 2;
    color: var(--third-color-light-theme);
    /* font-size: 40px; */
    /* font-weight: 500; */
}

.about-container .about-i2 {
    grid-column: 1 / span 2;
    color: var(--five-color-light-theme);
    font-size: 20px;
    font-weight: 500;
    margin-top: -15px;
    margin-bottom: 40px;
}

.about-container .about-i3 {
    grid-row: 3 / span 4;
}

.about-container .about-i1,
.about-i2,
.about-i3 {
    justify-self: center;
    align-self: center;
}

.about-container .about-i1,
.about-i4 {
    color: var(--third-color-light-theme);
}

.about-i5 {
    color: var(--fourth-color-light-theme);
}

.about-container .about-i3 img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 6px;

    transition: .3s ease all;
    filter: grayscale(80%);
}

.about-container .about-i3 img:hover {
    filter: grayscale(0%);
}

.about-container .about-i4 {
    color: var(--second-color-light-theme);
    font-size: 25px;

    margin-left: 20px;
}

.about-container .about-i4 span {
    color: var(--five-color-light-theme);
    font-size: 25px;
    font-weight: 500;
}

.about-container .about-i5 p {
    font-size: 'poppins';
    color: var(--five-color-light-theme);
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;

}

.about-container .about-i6 {
    /* grid-column: 1 / span 2; */
}

/* skills */
.about-item .skills-i5 {
    grid-area: 3 / 2 / 6 / 3;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(47px, 1fr));
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    gap: 6px;
    padding: 6px;
}

.about-item .skills-i5 .s-i5-s {
    width: 47px;
    height: 47px;

    border: 2px solid var(--five-color-light-theme);
    background: var(--five-color-light-theme);
    border-radius: 7px;
    padding: 7px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.about-i7 {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(2, 1fr);
    padding-left: 15%;
    /* padding-top: 10%; */
    /* padding-bottom: 10%; */
    /* justify-content: center; */
    /* align-items: center; */
}

.about-i7 .about-i7-skill {
    display: flex;
    gap: 7px;
    justify-content: center;
}

.about-greeting {
    font-size: 'poppins';
    color: var(--five-color-light-theme);
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;

    /* margin-left: 20px; */
}

.skills-theme {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.1;
    text-transform: uppercase;
    color: var(--seven-color-light-theme);
    box-sizing: border-box;
    align-self: center;
}

.about-i7-skill span,
.about-i7-skill svg {
    align-self: center;
}


@media (max-width: 900px) {
    .about-container {
        /* padding-top: 50px; */
        /* padding-bottom: 50px; */
        /* display: flex; */
        /* flex-direction: column; */
    }

    .about-container .about-i3 {
        /* margin-bottom: 10px; */
    }

    .about-content {
        width: 80%;
    }
}

@media (max-width: 600px) {
    .about-container {
        width: 100%;
        /* padding-top: 30px; */
        /* padding-bottom: 30px; */
        display: flex;
        flex-direction: column;
    }

    .about-content {
        width: 80%;
        display: flex;
        flex-direction: column;
    }

    .about-i7 {
        margin: 0;
        margin-top: 40px;
        padding: 0;
    }

    .about-container .about-i3 img {
        width: 100%;
        height: 300px;
    }

    .about-container .about-i4 {
        font-size: 20px;
    }
}

/* skills ----------------------------------------------------------------- */
.section-skills {
    width: 100%;
    background: #f1f1f1;
}

.skills-container {
    width: 100%;
}

.skills-content {
    width: 60%;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 6px;
}

.skills-container .skills-i1 {
    grid-column: 1 / span 2;
    color: black;
    /* font-size: 40px; */
    /* font-weight: 500; */
}

.skills-container .skills-i2 {
    grid-column: 1 / span 2;
    color: var(--five-color-light-theme);
    font-size: 20px;
    font-weight: 500;
    margin-top: -15px;
    margin-bottom: 40px;
}

.skills-container .skills-i1,
.skills-i2 {
    justify-self: center;
    align-self: center;
}

.skills-container .skills-i3 {
    font-size: 20px;
    font-weight: 600;
}

.skills-container .skills-i4 {
    font-size: 'poppins';
    color: var(--five-color-light-theme);
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;

    /* margin-left: 20px; */
}

.skills-container .skills-i5 {
    grid-area: 3 / 2 / 6 / 3;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(47px, 1fr));
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    gap: 6px;
    padding: 6px;
    padding-left: 15%;
}

.skills-i5 .s-i5-s {
    width: 47px;
    height: 47px;

    border: 2px solid var(--five-color-light-theme);
    background: var(--five-color-light-theme);
    border-radius: 5px;
    padding: 7px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.skills-i5 .s-i5-s img {
    width: 100%;
}

@media (max-width: 900px) {
    .skills-container {
        /* padding-top: 50px; */
        /* padding-bottom: 50px; */
        /* display: flex; */
        /* flex-direction: column; */
    }

    .skills-container .skills-i4,
    .skills-i5 {
        /* margin-bottom: 20px; */
    }

    .skills-content {
        width: 80%;
    }
}

@media (max-width: 600px) {
    .skills-container {
        width: 100%;
        /* padding-top: 30px; */
        /* padding-bottom: 30px; */
        display: flex;
        flex-direction: column;
    }

    .skills-content {
        width: 80%;
        margin: auto;
        display: flex;
        flex-direction: column;
        /* margin: 0; */
        /* margin-top: 40px; */
        /* padding: 0; */
    }

    .skills-i5 {
        /* display: flex; */
        margin: 0;
        margin-top: 20px;
        padding-left: 0% !important;
    }
}

/* projects --------------------------------------------------------------- */
.section-projects {
    width: 100%;
    background: var(--second-color-light-theme);
}

.projects-container {
    /* border: 1px solid red; */
    width: 100%;
}

.projects-content {
    /* border: 1px solid yellow; */
    width: 60%;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 100px;
    display: grid;
    gap: 6px;
    /* justify-content: center; */
    /* align-items: center; */
    /* grid-template-columns: repeat(3, 1fr); */
}

.projects-container .projects-i1 {
    /* border: 1px solid coral; */
    /* grid-column: 1 / span 3; */
    color: var(--second-color-light-theme);
    /* font-size: 40px; */
    /* font-weight: 500; */

    /* display: flex;
    align-self: center; */
    text-align: center;
}

.projects-container .projects-i2 {
    /* border: 1px solid aqua; */
    /* grid-column: 1 / span 3; */
    color: var(--five-color-light-theme);
    font-size: 20px;
    font-weight: 500;
    margin-top: -15px;
    margin-bottom: 30px;

    /* display: flex;
    align-self: center; */
    text-align: center;

}

.projects-container .projects-i1,
.projects-i2 {
    justify-self: center;
    align-self: center;
}

/* .projects-container .projects-i3 {
    grid-column: 1 / span 3;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(223px, 1fr));
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-around;
    justify-items: center;
    align-items: center;

    color: var(--second-color-light-theme);
    gap: 40px;
} */

.projects-i3 .projects-i3-s {
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    padding: 15px 20px 20px 20px;
    gap: 10px;

    background: #222;
    border-radius: 6px;
    transition: all 0.3s ease;
}

.projects-i3 .projects-i3-s:hover {
    background: var(--five-color-light-theme);
    transform: scale(1.05);
    /* cursor: pointer; */
}

.projects-i3 .projects-i3-s:hover>.button3 a {
    background: #f1f1f1;
    color: var(--five-color-light-theme);
}

.projects-container .projects-i3 .p-i3-s1-ss1 img,
.projects-container .projects-i3 .p-i3-s2-ss1 img,
.projects-container .projects-i3 .p-i3-s3-ss1 img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    overflow: hidden;
    border-radius: 6px;
}

.button3 {
    width: 100%;
}

.button3 a {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* tag a */
.projects-i3 .projects-i3-s {
    color: var(--second-color-light-theme);
}

/* imgs / titles */
.projects-i3-s .p-i3-s1-ss1,
.p-i3-s1-ss2,
.projects-i3-s .p-i3-s2-ss1,
.p-i3-s2-ss2,
.projects-i3-s .p-i3-s3-ss1,
.p-i3-s3-ss2 {
    grid-column: 1 / span 2;
}

/* titles */
.projects-i3-s .p-i3-s1-ss2,
.projects-i3-s .p-i3-s2-ss2,
.projects-i3-s .p-i3-s3-ss2 {
    grid-column: 1 / span 2;
    justify-self: center;
    align-self: center;
    font-size: 18px;
    font-weight: 500;
    /* padding-top: 10px; */
    padding-bottom: 10px;
}

/* techs */
.p-i3-s1-sstech,
.p-i3-s2-sstech,
.p-i3-s3-sstech {
    object-fit: cover;
    grid-column: 1 / span 2;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(40px, 1fr));

    display: none;
}

.tech {
    width: 70%;
    height: 80%;
    align-self: center;
    justify-self: center;
}

/* button left */
.projects-i3-s .p-i3-s1-ss3,
.projects-i3-s .p-i3-s2-ss3,
.projects-i3-s .p-i3-s3-ss3 {
    justify-self: center;
    align-self: center;
}

/* button right */
.projects-i3-s .p-i3-s1-ss4,
.projects-i3-s .p-i3-s2-ss4,
.projects-i3-s .p-i3-s3-ss4 {
    justify-self: center;
    align-self: center;
}

/* button2 */
.projects-container .projects-i4 {
    margin-top: 20px;
}

@media (max-width: 900px) {

    /* .projects-i3-s3 {
        grid-column: 1 / span 2;
    } */
    .projects-content {
        width: 80%;
        /* border: 1px solid aqua; */
    }

    .projects-item {
        /* border: 1px solid red; */
    }

    .gallery-container {
        /* border: 1px solid green; */
    }

    .gallery {
        /* border: 1px solid orangered; */
    }

    .gallery-item {
        /* border: 1px solid black; */
    }
}

@media (max-width: 600px) {
    .projects-container {
        /* width: 90%; */
        /* margin: auto; */
        /* padding-top: 30px; */
        /* padding-bottom: 30px; */
        /* display: flex; */
        /* flex-direction: column; */
    }

    .projects-container .projects-i3 {
        /* display: flex; */
        /* flex-direction: column; */
    }

    .projects-content {
        width: 90%;
        /* border: 1px solid aqua; */
    }

    .projects-item {
        /* border: 1px solid red; */
    }

    .gallery-container {
        /* border: 1px solid green; */
    }

    .gallery {
        /* border: 1px solid orangered; */
    }

    .gallery-item {}
}

/* contact ---------------------------------------------------------------- */
.section-contact {
    width: 100%;
    background: #f1f1f1;
}

.contact-container {
    width: 100%;
}

.contact-content {
    width: 65%;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 6px;
}

.contact-container .contact-i1 {
    grid-column: 1 / span 2;
    color: black;
    /* font-size: 40px; */
    /* font-weight: 500; */
}

.contact-container .contact-i2 {
    grid-column: 1 / span 2;
    color: var(--five-color-light-theme);
    font-size: 20px;
    font-weight: 500;
    margin-top: -15px;
    margin-bottom: 40px;
}

.contact-container .contact-i1,
.contact-i2 {
    justify-self: center;
    align-self: center;
}

.contact-container .contact-i3 {
    grid-column: 1 / span 2;
    justify-self: center;
    align-self: center;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}

.contact-container .contact-i4 {
    width: 85%;
    grid-column: 1 / span 2;
    justify-self: center;
    align-self: center;
}

.contact-i4 form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.contact-i4 .c-i4-s1,
.contact-i4 .c-i4-s2,
.contact-i4 .c-i4-s3,
.contact-i4 .c-i4-s4,
textarea {
    border: 0px solid lightgray;
    border-radius: 5px;
    outline: none;
    padding: 10px 15px;
    font-size: 17px;
    transition: all 0.3s ease;
}

.contact-i4 textarea {
    resize: none;
}

.contact-i4 form .c-i4-s3,
.c-i4-s4 {
    grid-column: 1 / span 2;
}

.recaptcha {
    grid-column: 1 / span 2;
}

/* .contact-i4 form .c-i4-s5 {
    width: 200px;
    color: var(--second-color-light-theme);
    background: var(--five-color-light-theme);
    border: 2px solid var(--five-color-light-theme);
    border-radius: 6px;
    font-size: 20px;
    font-weight: 500;
    transition: all 0.3s ease;
    cursor: pointer;

} */

/* .c-i4-s5:hover {
    color: var(--five-color-light-theme) !important;
    background: #f1f1f1 !important;
} */
.c-i4-s5 {
    width: 175px;
}


@media (max-width: 900px) {
    /*  */
}

@media (max-width: 700px) {
    .contact-container .contact-i4 {
        width: 100%;
    }
}

@media (max-width: 600px) {
    .contact-container {
        width: 100%;
        margin: auto;
        /* padding-top: 30px; */
        /* padding-bottom: 30px; */
        display: flex;
        flex-direction: column;
    }

    .contact-content {
        width: 100%;
    }

    .contact-container .contact-i4 {
        width: 80%;
    }

    .contact-container .contact-i4 form {
        display: flex;
        flex-direction: column;
    }

    .c-i4-s5 {
        align-self: center;
    }
}

/* footer ----------------------------------------------------------------- */
.section-footer {
    width: 100%;
    /* background: var(--second-color-light-theme); */
    background: var(--third-color-dark-theme);
}

.footer-container {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

.footer-icons {
    width: 30%;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    justify-items: center;
    align-items: center;
    gap: 10px;
}

.footer-container .footer-item {
    width: 30px;
    /* height: 30px; */
    height: 20px;
}

.footer-container a img {
    width: 100%;
}

.footer-copyright {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: var(--second-color-light-theme);
    font-size: 12px;
    font-weight: 100;
}